page-loader {
    .bg-main {
        background-image: url("../assets/imgs/log.JPG");
        position: fixed;
        width: 105%;
        height: 100%;
        top: 0;
        left: -5%;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
      }
    }
