page-loader {
    .splashBack{
        left: 0%;
        width: 100%;
        background:linear-gradient(0deg,rgba(0,0,0,0.7)),url("../../assets/imgs/back.png");
        background-size:cover;
        }
}
