<ion-header>
  <ion-navbar color="primary" >
    <ion-title>Posters</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- <ion-slides>
    <ion-slide *ngFor="let b of banners" >
      <img [src]="b.Image" class="banners" />
    </ion-slide>
  </ion-slides> -->
  <div class="wrapper">
    <ion-slides   *ngIf="banners && banners.length" autoplay="3000" loop="true" speed="500" pager="true" >
      <ion-slide *ngFor="let b of banners">
        <img [src]="b.Image"  class="bannerImg" />
      </ion-slide>
    </ion-slides>
  </div>
  
</ion-content>
