page-login-splash {
    .splashBack{
    background:linear-gradient(0deg,rgba(0,0,0,0.7)),url("../../assets/imgs/back.jpg");
    background-size:cover;
    }

    .authBtns{
        position: absolute;
        top: 80%;
        left: 0;
        width: 100%;
    }

}
