<ion-header>
  <ion-navbar color="primary">
    <ion-title>Follow Up</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="cardback" padding>


  <ion-grid  >  
    <ion-row *ngFor="let s of schools" (click)="showStudents(s)" class="rowCls curs" >
      <ion-col col-8>
        <p  ion-text padding-left color="primary">{{s.SchoolName}}</p>
      </ion-col>
      <!-- <ion-col  col-4 *ngIf="!s.days" padding-top  class="btnClas" >
        No Students
      </ion-col> -->
      <ion-col  col-4   padding-top  class="btnClas" >
        {{s.days}}
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
